*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    width: 45%;
    text-align: center;
    margin: 10px 370px;
}

nav ul{
    display: flex;
    align-items: center;
    list-style: none;
}

nav ul li{
    margin: 0;
}

nav ul li a{
    text-decoration: none;
    text-transform: capitalize;
    padding: 5px 13px;
    font-size: 25px;
    display: inline-block;
    background-color: black;
    color: white;
    transition: 0.3s;
}

nav ul li a:hover{
    background-color: rgb(126, 19, 19);
    color: white;
}
